/* stylelint-disable selector-list-comma-newline-after */
@font-face {
    font-family: 'OpenSans';
    src: url('../css/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../css/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../css/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

h3{
  font-size:1.4rem;
}

li.media{
  margin-bottom:2.5rem;
}

li.media-item{
  margin-bottom:2.5rem;
}

body {
  background-image: url("../images/texture4.jpg");
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

span.pub_authors, span.pub_authors a{
  color: #000;
  text-decoration: none;
}
span.pub_info, span.pub_info a{
  text-decoration: none;
}

.publications-list {
  margin-bottom: 1rem;
  font-size:0.9rem;
}
.color-highlight{
  color: #a00;
}
.color-highlight-lighter{
  font-size: 0.8em;
  font-weight: lighter;
}

.box-height-25{
  height: 25px;
}
